<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="about-content">
                    <p>Welcome to KWM, where our expert instructor offers a versatile approach to language education. With personalized one-on-one lessons, you'll receive individualized attention tailored to your goals and proficiency level. Our skilled instructor will guide you through a comprehensive curriculum, ensuring rapid progress and targeted instruction. Additionally, our engaging group lessons foster collaborative learning and provide opportunities for interactive practice with fellow students. Whether you prefer the focused attention of one-on-one lessons or the dynamic atmosphere of group sessions, KWM is committed to helping you achieve proficiency and cultural understanding of the Korean language.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/about2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>