<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
                    <h3>Need more information? Feel free to ask us anything, and we'll be delighted to help!<br>
                        for our clients.</h3>
                    <div class="call-to-action">
                        <a href="https://www.youtube.com/watch?v=vKSA_idPZkc" class="btn video-view">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>