<section class="cta-area" style="background-image:url({{site.baseurl}}/assets/img/bg/cta1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="call-to-action white-text">
<h3>Do you have any question to us? Call Us</h3>
                        <p class="m-0">Contact us and we’ll get back to you as soon as possible.</p>
                    <div class="call-to-action">
                        <a href="https://www.youtube.com/watch?v=vKSA_idPZkc" class="btn video-view">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>