<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">Korean <br>with <span>Minha</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Embark on an exciting journey of learning Korean </p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Korean <br>with <span>Minha</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Discover the beauty and richness of the Korean language</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Korean <br>with <span>Minha</span></h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">Unlock the gateway to Korean language proficiency and cultural understanding</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>