<section class="team-area grey-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Our Teacher</h2>
                    <p>Our highly skilled Korean teacher is dedicated to guiding students on their journey to mastering the Korean language and immersing themselves in Korean culture.</p>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <div class="container">
    <div class="row">
            <div class="our-team">
                <img src="{{site.baseurl}}/assets/img/team/01.jpg" alt="team member" class="img-responsive">
                <div class="team-content">
                    <h3 class="name">Peter</h3>
                    <span class="post">web designer</span>
                </div>
            </div>




    </div>
</div>
    
    
</section>