<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                     Minha is an exceptional Korean language instructor. Her dedication, expertise, and personalized approach have greatly improved my Korean proficiency, making the learning process enjoyable and rewarding. I highly recommend Minha's classes to anyone looking to learn Korean effectively and with confidence.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/01.jpg" class="img-fluid" alt="">
                        <h4>Heiu</h4>
                        <span>Vietnamese</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                         Minha is an exceptional Korean language instructor. Her dedication, expertise, and personalized approach have greatly improved my Korean proficiency, making the learning process enjoyable and rewarding. I highly recommend Minha's classes to anyone looking to learn Korean effectively and with confidence.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/02.jpg" class="img-fluid" alt="">
                        <h4>Heiu</h4>
                        <span>Vietnamese</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                           Minha is an exceptional Korean language instructor. Her dedication, expertise, and personalized approach have greatly improved my Korean proficiency, making the learning process enjoyable and rewarding. I highly recommend Minha's classes to anyone looking to learn Korean effectively and with confidence.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/03.jpg" class="img-fluid" alt="">
                        <h4>Heiu</h4>
                        <span>Vietnamese</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>