<section class="timeline">
      <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40">
                <div class="section-title service-title">
                    <h2>Study Korean in KWM</h2>
                    <p>Start your Korean language journey today by enrolling in our classes and immersing yourself in the rich culture and language of Korea.
</p>
                </div>
            </div>
        </div>

    </div>
  
  
  
  <ul>
    <li>
      <div>
        <time>Fill out the registration form</time> Click on the registration button and provide the required information in the registration form.
      </div>
    </li>
    <li>
      <div>
        <time>Consultation on class conditions</time> After receiving your registration, we will contact you to discuss your class preferences, schedule availability, and any specific requirements you may have.
      </div>
    </li>
    <li>
      <div>
        <time>Trial lesson with the teacher</time> Attend a trial lesson with one of our experienced Korean teachers to get a feel for the teaching style, curriculum, and learning environment. This will help you determine if our Korean class is the right fit for you.
      </div>
    </li>
    <li>
      <div>
        <time>Start Korean class</time> Once you have completed the registration, consultation, and trial lesson, you will be ready to start your Korean class. You will receive further instructions on the class start date, materials, and how to access the online learning platform if applicable.
      </div>
    </li>
   
  
    <script src="assets/js/timeline.js"></script>