<div class="timeline-wrap" style="background-color: lightgrey">
  <ul class="timeline timeline--first">
    <li class="era">
      <h2 class="era__title">First Era</h2>
    </li>
    <li class="entry entry--left">
      <div class="entry__content">
        <h2>Bacon Ipsum</h2>
        <p>Bacon ipsum dolor amet ball tip jerky sirloin pancetta capicola prosciutto meatball pig leberkas cow pork chop shank meatloaf.</p>
      </div>
    </li>
    <li class="entry entry--right">
      <div class="entry__content">
        <h2>Bacon Ipsum</h2>
        <p>Ground round short ribs fatback, salami shoulder sausage chuck shankle landjaeger drumstick ribeye meatloaf doner.</p>
      </div>
    </li>
    <li class="entry entry--left">
      <div class="entry__content">
        <h2>Bacon Ipsum</h2>
        <p>Swine pork belly prosciutto jowl pork chop chicken filet mignon cupim doner boudin.</p>
      </div>
    </li>
        <li class="entry entry--right">
      <div class="entry__content">
        <h2>Bacon Ipsum</h2>
        <p>Ground round short ribs fatback, salami shoulder sausage chuck shankle landjaeger drumstick ribeye meatloaf doner.</p>
      </div>
    </li>
  </ul>
</div>
